apiVersion: v1
kind: Service
metadata:
  name: titanic-db-service
  namespace: titanic
  labels:
    app: titanic-db
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: titanic-db
